body{

    text-align: center;
    transition: 5s;
}
h1{
    text-align: center;

}
button{
    padding: 7px 10px;
    margin: auto;
    background: black;
    color: wheat;
    font-size: 24px;
    border-radius: 8px;
    text-align: center;


}